/* wallet_modal_container */
@media screen and (min-width: 0px) {
    .account_modal_container{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        overflow: hidden;
        z-index: 1000;
    }

    .account_modal_content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: #4954f0;
        border-radius: 9px;
        margin: 0px auto;
        margin-top: 50px;
        padding: 10px;
        border: 1px solid rgb(32, 52, 232);
        width: 90%; 
        max-width: 500px;
    }

    .active_account{
        color: #ffffff;
        font-weight: 700;
        margin: 10px;
    }

    .account_modal_links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .view_btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #ffffff;
        margin: 5px;
        border: 2px solid #ffffff;
        border-radius: 9px;
        padding: 5px 30px;
    }

    .copy_btn{
        display: flex;
        width: 60px;
        justify-content: space-around;
        align-items: center;
        border: none;
        color: #ffffff;
        background-color: #4954f0;
        /* padding: 20px 10px; */
        border-radius: 9px;
        margin: 5px;
    }

    .logout_btn{
        display: inline-block;
        border: none;
        color: #ffffff;
        background-color: #4954f0;
        padding: 0px 10px;
        border-radius: 9px;
        border: 2px solid #ffffff;
        height: 30px;
        margin: 5px;
    }

    .tooltip{
        position: absolute;
        /* bottom: -22px; */
        width: 60px;
        margin: 0 auto;
        padding: 5px;
        right: 0;
        left: 0;
        text-align: center;
        background-color: #444444;
        color: #ffffff;
        border-radius: 10px;
        opacity: 0.7;
    }
}

